footer{
    background: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 20px;
}

#footer-copyright p {
    color: gray;
    font-size: 10px;
}

#footer-copyright a:hover {
    color: #FFC800;
    box-shadow: 0 7px 20px #FFC800;
}

#footer-copyright{
    display: flex;
}

#footer-copyright p{
    margin-left: 5px;
}

#footer-copyright a{
    text-decoration: none;
    color: white;
}
